/* Whole Document */

*:not(i){
  font-family:Nunito;
}

.btn{
  border-radius: 3em;
  box-shadow: rgba(0, 0, 0, 0.15) 0 6px 20px;

}

/* top bar */

.top-bar{
  color:white;
  background-color: #252734;
  padding-top: 1vh;

}

.top-bar p{
  padding-top: 1vh;
}
.top-bar button{
  color:white;
  background-color:#3ab330;
  margin-bottom:1vh;
}

/* header */

header{

min-height: 100vh;
color:white;
background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url("images/farm_house.jpg");
background-size: cover;

}
.main-header{
min-height: 90vh;
display:flex;
align-items: center;
}
.heading-animation-underline{
	border-bottom:
	4px solid;
  padding-bottom: -2vh;
}
header h1{
  margin-top: 0em;
}
header h2 {
  margin-top: 1em;
}
/* body */

body .container{
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.card i {
  font-size:4.5em;
  padding-bottom:1rem;
}

.card{
  text-align:center;
  height:auto;
  margin-bottom: 1em;
  margin-top:1em;
  border:none;
}
.card-footer{
  background:none;
  border-top: none;
  padding-top:0px;
}
