/* Whole Document */

*:not(i){
  font-family:Rubik;
}

.btn{
  border-radius: 3em;
  box-shadow: rgba(0, 0, 0, 0.15) 0 6px 20px;

}

/* top bar */

.top-bar{
  color:white;
  background-color: #252734;
  padding-top: 1vh;

}

.top-bar p{
  padding-top: 1vh;
}
.top-bar button{
  color:white;
  background-color:#3ab330;
  margin-bottom:1vh;
}

/* header */

header{

min-height: 100vh;
color:white;
background-color:rgba(255, 108, 0, 1);
background-image: url("images/asfalt-light.png");

}
.main-header{
min-height: 90vh;
display:flex;
align-items: center;
}
.heading-animation-underline{
	border-bottom:
	4px solid;
  padding-bottom: -2vh;
}
header h1{
  margin-top: 0em;
}
header h2 {
  margin-top: 0em;
}
/* body */

body .container , .container-full{
  padding-top: 10vh;
}
.card i {
  font-size:4.5em;
  padding-bottom:1rem;
}

.card{
  text-align:center;
  height:auto;
  margin-bottom: 1em;
  margin-top:1em;
  border:none;
}
.card-footer{
  background:none;
  border-top: none;
  padding-top:0px;
}
.clients{

}
.clients h1{
  padding-bottom:1em;
}
.clients img{
  padding-bottom:5em;
}
body h1{
padding-bottom:.5em;
}
