/* Whole Document */
:root {
    --dark-orange: rgba(255,108,0,1);
    --dark-grey:#343a40;
    --secondary-background-color: 	#F5F5F5;
    --tertiary-background-color:#DCDCDC	;

}

*:not(i){
  font-family:Rubik;
}

.btn-primary {
  border-radius: 3em;
  box-shadow: rgba(0, 0, 0, 0.15) 0 6px 20px;
  color:var(--dark-orange);
  background-color: white;
  border-color:var(--dark-orange);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: gray;
    border-color:var(--dark-orange);
}

.btn-secondary {
  border-radius: 3em;
  box-shadow: rgba(0, 0, 0, 0.15) 0 6px 20px;
  color:white;
  background-color: var(--dark-orange);
  border-color:white;

}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
    color: #fff;
    background-color: gray;

}


/* top bar */
.top-bar .btn{
  font-size: small;
}

.top-bar{
  color:white;
  background-color: var(--dark-grey);
}

.top-bar p{
  margin-top: .75em;
  font-size: small;
  padding-bottom:0px;
}

/* header */

header{

min-height: 100vh;
color:white;
background-color:var(--dark-orange);
background-image: url("images/asfalt-light.png");

}
.main-header{
min-height: 90vh;
display:flex;
align-items: center;
}
.heading-animation-underline{
	border-bottom:
	4px solid;
  padding-bottom: -2vh;
}
header h1{
  margin-top: 0em;
}
header h2 {
  margin-top: 0em;
}
/* body */

body .container , .container-full{
  padding-top: 15vh;
  padding-bottom:15vh;
}

/* cards */
.card i {
  font-size:4.5em;
  padding-bottom:1rem;
}

.card{
  text-align:center;
  height:auto;
  margin-bottom: 1em;
  margin-top:1em;
  box-shadow: rgba(0, 0, 0, 0.15) 0 6px 20px;

}
.card-footer{
  background:none;
  border-top: none;
}

 .card .fas{
  color:var(--dark-orange);
  shadow:1px;
}
.clients{

}
.clients h1{
  padding-bottom:1em;
}

body h1{
padding-bottom:.5em;
}

.secondary-background-color{
  background-color:var(--secondary-background-color);
}

footer{
  color:white;
  background-color:var(--dark-orange);
  background-image: url("images/asfalt-light.png");
}
